.vs/Stack/v16/.suo
bin/Debug/netcoreapp3.1/Stack.deps.json
bin/Debug/netcoreapp3.1/Stack.dll
bin/Debug/netcoreapp3.1/Stack.exe
bin/Debug/netcoreapp3.1/Stack.pdb
bin/Debug/netcoreapp3.1/Stack.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/Stack.runtimeconfig.json
obj/project.assets.json
obj/project.nuget.cache
obj/Stack.csproj.nuget.dgspec.json
obj/Stack.csproj.nuget.g.props
obj/Stack.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/apphost.exe
obj/Debug/netcoreapp3.1/Stack.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/Stack.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/Stack.assets.cache
obj/Debug/netcoreapp3.1/Stack.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Stack.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Stack.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Stack.dll
obj/Debug/netcoreapp3.1/Stack.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/Stack.pdb
